<div [formGroup]="parentForm">

  <h1 class="title">First step</h1>

  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
             formControlName="firstName"
             type="text"
             placeholder="Name">
    </div>
  </div>

  <div class="field">
    <label class="label">Username</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input"
             formControlName="userName"
             type="text"
             placeholder="Username"
             value="bulma">
      <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input"
             formControlName="email"
             type="email"
             placeholder="Email"
             value="">
      <span class="icon is-small is-left">
        <i class="fa fa-envelope"></i>
      </span>
    </div>
  </div>

  <div class="field">
    <label class="label">Select option</label>
    <div class="control">
      <div class="select">
        <select formControlName="select">
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
          <option>Option 4</option>
          <option>Option 5</option>
        </select>
      </div>
    </div>
  </div>

  <div class="field">
    <label class="label">Message</label>
    <div class="control">
      <textarea class="textarea"
                formControlName="message"
                placeholder="Message..."></textarea>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <label class="checkbox">
        <input type="checkbox"
               formControlName="terms">
        I agree to the <a href="#">terms and conditions</a>
      </label>
    </div>
  </div>


</div>
